:root {
    --background: #2e2d2d;
    --dark-desaturated-blue: #1b1e34;
    --very-dark-blue: #2c2e43;
    --soft-orange:#f0a279;
    --gray-300: #888585;
    --gray-400: #cbd5e0;
    --white: #ffffff;
}

/* Reset */

* {
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: var(--background);
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Left section */

.container .left-section {
    padding: 30px;
    grid-column: span 1;
}

/* Profile */

.profile {
    width: 100%;
    border-bottom: 2px solid var(--gray-300);
}

.profile .MyProfile {
    width: 100%;
}

.name {
    color: var(--gray-300);
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
}

.profession {
    color: var(--gray-300);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 1rem;
}

/* Contact info */

.contact-info {
    padding: 8px;
    border-bottom: 2px solid var(--gray-300); 
}

.left-title {
    color: var(--white);
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-top: 3rem;
}

.contact-info ul {
    padding-top: 1.5rem;
}

.contact-info ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: var(--gray-300);
    letter-spacing: 1px;
    font-size: 18px;
}

.contact-info ul li i {
    padding-right: 1rem;
    font-size: 18px;
    color: var(--white);
}

a {
    color: var(--gray-300);
    margin-left: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Skills */

.skills {
    padding: 8px;
}

.skills .box {
    width: 100%;
    margin: 20px 0;
    position: relative;
    grid-template-columns: 150px 1fr;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--gray-300);
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: var(--white);
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--dark-desaturated-blue);
}

/* Right section */

.container .right-section {
    grid-column: span 6;
    background-color: var(--soft-orange);
    padding: 2rem 2rem;
}

/* About */

.gap {
    padding-bottom: 2rem;
}

.right-title {
    color: var(--very-dark-blue);
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.about-me-contents {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2rem;
    color: var(--white);
}

/* Experience, Education and Awards */

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding-bottom: 2rem;
    color: var(--white);
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--gray-300);
    padding-bottom: .4rem;
}

.exp-time-period,
.education-time-period,
.awards-time-period {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2rem;
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--gray-300);
    padding-bottom: .4rem;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    border-left: 3px solid var(--gray-400);
    padding-left: 5px;
}

/* Media queries */
@media screen and (max-width:780px) {
    .experience-contents,
    .education-contents,
    .awards-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .left-section {
        grid-column: span 3;
    }
    
    .right-section {
        grid-column: span 4;
    } 
}

@media (max-width:600px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .name {
        font-size: 20px;
    }

    .profession {
        font-size: 18px;
    }

    .left-title {
        font-size: 18px;
    }

    .right-title {
        font-size: 18px;
    }

    .contact-info ul li {
        font-size: 12px;
    }

    .contact-info ul li i {
        padding-right: 1rem;
        font-size: 12px;
    }

    .skills p {
        font-size: 12px;
    }

    .about-me-contents {
        font-size: 16px;
        line-height: 1.5rem;
    }

    .exp-company-name,
    .education-school-name,
    .awards-company-name {
        font-size: 18px;
    }

    .exp-time-period,
    .educationp-time-period,
    .awards-time-period {
        font-size: 16px;
    }

    .exp-position,
    .education-subject,
    .awards-name {
        font-size: 18px;
    }
}